@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, Arial, sans-serif;
  color: #333;
}

body a:link,
body a:visited {
  color: rgb(57, 31, 246);
}

/* *** START OF DARK THEME STYLES *** */

/* DARK MODE STYLING YUH */
body.dark nav {
  background-color: #333;
}
body.dark {
  color: #fff;
  background-color: #333;
}

body.dark #hero {
  height: 100vh;
  min-height: 64rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(2, 2, 127, 0.5)
    ),
    url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

body.dark #hero p {
  color: #fff;
}

body.dark a:link,
body.dark a:visited {
  color: magenta;
}

/* *** END DARK THEME STYLES *** */

h2 {
  font-size: 3.6rem;
  font-weight: 300;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  /* text-align: center; */
  text-transform: uppercase;
}

section {
  margin-bottom: 12rem;
}

/* MAIN NAVIGATION (DESKTOP) */

header {
  background-color: #e0dfe1;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.8rem;
}

/* header dark */

body.dark header {
  background-color: #333;
}

header span.logo {
  font-size: 3.2rem;
}

.nav-link-list {
  display: flex;
  gap: 3.2rem;
}

.nav-list-item {
  list-style: none;
}

.nav-list-item a:link,
.nav-list-item a:visited {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: magenta;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* HERO */
button#colorToggle {
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(57, 31, 246);
  border: none;
  color: magenta;
  padding: 8px 12px;

  position: absolute;
  right: 5%;
  top: 5%;
}

#hero {
  position: relative;
  height: fit-content;
  min-height: 64rem;
  background-image: linear-gradient(
      to bottom,
      rgba(232, 231, 239, 0.95),
      rgba(206, 199, 222, 0.85)
    ),
    url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-flex h1 {
  color: magenta;
}

#hero p {
  color: rgb(22, 5, 146);
}

.project h3 {
  color: rgb(57, 31, 246);
}

.hero-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  /* padding-top: 7.6rem; */
  padding-bottom: 6.4rem;

  margin-left: 5.6rem;
  margin-bottom: 6.4rem;
}

.hero-flex h1 {
  display: inline-block;
  font-size: 7.2rem;
  font-family: "Source Code Pro", "Courier New", monospace;
  font-weight: 700;
  word-spacing: -1.6rem;
}

.hero-paragraph {
  width: 80%;
  max-width: 60rem;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  color: rgba(255, 255, 255, 0.698);
  line-height: 1.5;
}

.btn-flexbox {
  /* width: 25%; */
  display: flex;
  justify-content: flex-start;
  gap: 3.2rem;
}

.btn.hero-btn:link,
.btn.hero-btn:visited {
  font-family: "Source Code Pro", monospace;
  font-size: 2.2rem;
  padding: 2.4rem 4.8rem;
  background-color: rgba(30, 0, 255, 0.735);
  text-decoration: none;
  text-transform: uppercase;

  color: magenta;
  transition: all 0.3s ease;
}

.btn.hero-btn:hover,
.btn.hero-btn:active {
  color: #fff;
  background-color: rgb(111, 97, 216);
}

/* projects section */

#projects {
  padding-top: 6.4rem;
  /* height: 56rem; */
  height: fit-content;
}

#projects h2 {
  /* margin-left: 5.6rem; */
  text-align: center;
}

#projects .flex-container {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  /* height: 36rem; */
  align-items: flex-start;
  justify-content: center;
  gap: 3.6rem;
  padding: 4rem;
}

.project {
  /* background-color: magenta; */
  background-color: rgba(30, 0, 255, 0.25);
  width: 25%;
  max-width: 32rem;
  padding: 1.2rem;
}

.project img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.project h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.dark .project h3 {
  color: magenta;
}

.project p {
  line-height: 1.4;
  font-size: 1.8rem;
}

/* contact section */

#contact img {
  width: 42rem;
  max-width: 600px;
}
#contact h2 {
  text-align: center;
  /* margin-left: 5.6rem; */
  margin-bottom: 5.6rem;
  /* background-color: black; */
}

#contact .flex-container {
  /* background-color: rgba(0, 255, 255, 0.527); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  padding-bottom: 4.8rem;
}

#contact h3 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

#contact p {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

#contact .email:link,
#contact .email:visited {
  font-size: 2rem;
  letter-spacing: 1px;
  text-decoration: none;
}

#contact .email:hover,
#contact .email:active {
  text-decoration: underline;
}

.social-media-box {
  margin-top: 2.4rem;
}

.social-media-icon {
  font-size: 3.2rem;
  margin-right: 1.2rem;
}
