@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, Arial, sans-serif;
}

/* DARK MODE STYLING YUH */
body.dark {
  color: #fff;
  background-color: #333;
}

body.dark a:link,
body.dark a:visited {
  color: magenta;
}

h2 {
  font-size: 3.6rem;
  font-weight: 300;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  /* text-align: center; */
  text-transform: uppercase;
}

header {
  background-color: #222;
  width: 100%;
  height: 8rem;
  display: flex;
}

section {
  margin-bottom: 12rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.8rem;
}

nav span.logo {
  font-size: 3.2rem;
}

.nav-link-list {
  display: flex;
  gap: 3.2rem;
}

.nav-list-item {
  list-style: none;
}

.nav-list-item a:link,
.nav-list-item a:visited {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

#hero {
  height: fit-content;
  min-height: 64rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(2, 2, 127, 0.5)
    ),
    url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  margin-left: 5.6rem;
  margin-bottom: 6.4rem;
}

.hero-flex h1 {
  display: inline-block;
  font-size: 6.4rem;
  font-family: "Source Code Pro", "Courier New", monospace;
  font-weight: 400;
}

.hero-paragraph {
  width: 50%;
  max-width: 60rem;
  font-size: 2.2rem;
  padding: 2.4rem 0;
  color: rgba(255, 255, 255, 0.698);
  line-height: 1.5;
}

.btn-flexbox {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  gap: 3.2rem;
}

.btn.hero-btn:link,
.btn.hero-btn:visited {
  font-family: "Source Code Pro", monospace;
  font-size: 2.2rem;
  padding: 2.4rem 4.8rem;
  background-color: rgba(30, 0, 255, 0.735);
  text-decoration: none;
  text-transform: uppercase;
}

/* projects section */

#projects {
  padding-top: 6.4rem;
  /* height: 56rem; */
  height: fit-content;
}

#projects h2 {
  margin-left: 5.6rem;
}

#projects .flex-container {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  /* height: 36rem; */
  align-items: flex-start;
  justify-content: center;
  gap: 3.6rem;
  padding: 4rem;
}

.project {
  /* background-color: magenta; */
  background-color: rgba(30, 0, 255, 0.25);
  width: 25%;
  max-width: 32rem;
  padding: 1.2rem;
}

.project img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.project h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.project p {
  line-height: 1.4;
  font-size: 1.8rem;
}

/* contact section */
#contact h2 {
  text-align: left;
  margin-left: 5.6rem;
  margin-bottom: 5.6rem;
  /* background-color: black; */
}

#contact .flex-container {
  /* background-color: rgba(0, 255, 255, 0.527); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  padding-bottom: 4.8rem;
}

#contact p {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}

#contact .email:link,
#contact .email:visited {
  font-size: 2rem;
  letter-spacing: 1px;
  text-decoration: none;
}

#contact .email:hover,
#contact .email:active {
  text-decoration: underline;
}

.social-media-box {
  margin-top: 2.4rem;
}

.social-media-icon {
  font-size: 3.2rem;
  margin-right: 1.2rem;
}
